<div class="">

  <div *ngIf="!user">
    <button (click)="loginWithFacebook()" >Login With Facebook</button>
    <button (click)="loginWithGoogle()" >Login With Google</button>

    <app-user-form></app-user-form>
  </div>


  <button (click)="logout()" *ngIf="user">Logout</button>
  <!--todo: delete-->
  <h1 *ngIf="user">User: {{user.displayName}}</h1>

  <input type="text" id="message"  placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />

  <div *ngIf="items">
    <div class="chat-container"  *ngFor="let item of items | async">
      <a href="#">{{item.name}}</a>

      <p (click)="log(item)">{{ item.message }}</p>
    </div>
  </div>
</div>


